@font-face {
    font-family: "lato-Black";
    src: url('../fonts/Lato/Lato-Black.ttf');
}

@font-face {
    font-family: "Lato-Bold";
    src: url('../fonts/Lato/Lato-Bold.ttf');
}

@font-face {
    font-family: "Lato-SemiBold";
    src: url('../fonts/Lato/Lato-Semibold.ttf');
}

@font-face {
    font-family: "lato-Regular";
    src: url('../fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: "lato-Medium";
    src: url('../fonts/Lato/Lato-Medium.ttf');
}

@font-face {
    font-family: "lato-Hairline";
    src: url('../fonts/Lato/Lato-Hairline.ttf');
}

@font-face {
    font-family: "oswald-Regular";
    src: url('../fonts/Oswald/Oswald-Regular.ttf');
}

@font-face {
    font-family: "oswald-Medium";
    src: url('../fonts/Oswald/Oswald-Medium.ttf');
}

@font-face {
    font-family: "oswald-Bold";
    src: url('../fonts/Oswald/Oswald-Bold.ttf');
}

@font-face {
    font-family: "oswald-SemiBold";
    src: url('../fonts/Oswald/Oswald-SemiBold.ttf');
}

@font-face {
    font-family: "oswald-Light";
    src: url('../fonts/Oswald/Oswald-Light.ttf');
}

@font-face {
    font-family: "oswald-ExtraLight";
    src: url('../fonts/Oswald/Oswald-ExtraLight.ttf');
}

@font-face {
    font-family: "icomoon";
    src: url('../fonts/Icomoon/icomoon.ttf');     
}

[class^="icon-"], [class*="icon-"] {
    font-family: 'icomoon';
    font-style: normal;
    font-weight: normal;
    line-height: 1;

    -webkit-font-smoothing: anialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0px;
}

h1 {
    font-family: "lato-Medium";
    font-size: 27px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: #1E1F24;
    margin: 0px;
    align-items: center;
    padding: 0px 50px;
}

h1 strong {
    font-family: "lato-Medium";
    color: #FF565B;
}

ol {
    display: flex;
    justify-items: center;
    list-style: none;
    padding-left: 0px;
}

li {
    padding: 0px 10px 0px;
}

header {
    background-color: white;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
}

.container {
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 450px);
    gap: 5px;
    justify-content: center;
    grid-auto-flow: dense;
    background-color: #F9FAFC;
    margin: 0px auto;
    padding: 20px 40px;
}

.header .container {
    background-color: transparent;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 0px;
    
}

.menu {
    font-family: "oswald-Regular";
    font-size: 15px;
    letter-spacing: 2px;
    line-height: .5px;
    display: flex;
    justify-content: start;
}

.menu a {
    color: #D4D4D6;
    text-decoration: none;
    padding-right: 25px;
}

.icon-menu:before {
    content: "\e9e0";
}

.burguer-button {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 30px;
    padding: 0px 50px;
    transform: scaleX(1.4);
}

figure {
    margin: 0px;
}

.card {
    padding: 10px;
}

.card-image {
    position: relative;
}

.card-image:before {
    position: absolute;
    bottom: 30px;
    left: -5px;
    display: flex;
    content: "TECHNOLOGY";
    font-family: "oswald-Regular";
    color: white;
    font-size: 15px;
    letter-spacing: 2px;
    line-height: .5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: #FF565B;
    height: 40px;
    width: 150px;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-title {
    font-family: "lato-Regular";
    color: #1F2025;
    font-size: 32px;
    margin-bottom: 0px;
    margin-top: 15px;
}

.card-description {
    font-family: "lato-Regular";
    color: #7B7C80;
    font-size: 20px;
    line-height: 1.7;
    margin-top: 10px;
}

.level-1 {
    grid-row-end: span 3;
}

.level-2 {
    grid-row-end: span 2;
}

footer {
    background-color: #1E1F24;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

footer .container {
    display: -ms-grid;
    color: white;
    background-color: transparent;
    grid-template-columns: auto 1fr auto;
    gap: 5px;
    align-items: center;
    justify-items: center;
    padding: 0px;
}

.footer-logo {
    padding: 0px 50px;
}

.footer-logo h1 {
    color: #494A4E;
    padding: 0;
}

.footer-logo p {
    font-family: "lato-Regular";
    color: #88898B;
    margin-top: 5px;
}

.footer-info {
    display: inherit;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.footer-info a {
    font-family: "oswald-Regular";
    font-size: 15px;
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
    padding: 10px 25px;
}

.footer-contact {
    justify-self: center;
    padding-right: 50px;
}

.social-link {
    font-family: "lato-Regular";
    color: #616266;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-end;
}

.social-link i {
    padding: 0px 10px;
}

.social-link .instagram:before {
    content: "\ea6f";
}

.social-link .pinterest:before {
    content: "\ea75";
}

.social-link .twitter:before {
    content: "\ea7c";
}

.social-link .facebook:before {
    content: "\ea67";
}

form {
    display: flex;
}

.input {
    height: 35px;
    border: 0px;
    padding: 0px;
    padding-left: 15px;
}

.suscription_btn {
    font-family: "oswald-Regular";
    background: #FF565B;
    border: 0px;
    cursor: pointer;
    color: white;
    font-size: 15px;
    letter-spacing: 2px;
    line-height: .5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: #FF565B;
    height: 35px;
    width: 140px;
}

@media screen and (max-width: 768px) {
    h1 {
        padding: 0px 10px;
    }

    .container {
        grid-template-columns: repeat(auto-fill, 366px);
        padding: 20px 15px;
    }
    .menu {
        display: none;
    }

    .burguer-button {
        justify-self: end;
        padding: 0px 10px;
    }

    .card {
        padding: 5px;
    }

    footer .container {
        grid-template-columns: 30% 1fr;
        column-gap: 10px;
    }

    .footer-logo {
        padding: 0px 20px;
    }

    .footer-info {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-contact {
        grid-column-end: span 2;
        display: grid;
        grid-template: 1fr / 1fr 1fr;
    }

    .social-link {
        grid-column-start: 2;
        grid-row-end: span 2;
        justify-content: right;
        margin-left: 30px;
        margin-bottom: 0px;
        align-items: center;
    }

}